@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.manrope {
    font-family: "Manrope", sans-serif;
}

header {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
}

.header--container {
    background: rgba(28, 28, 28, 0.30);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.header--container:hover {
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(28, 28, 28, 0.50);
}

header h1 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
}

/* Responsivo */
@media (max-width: 768px) {
    .header--container {
        width: 60px;
        height: 44px;
    }

    header h1 {
        font-size: 16px;
    }
}