@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.manrope {
    font-family: "Manrope", sans-serif;
}


.montserrat {
    font-family: "Montserrat", sans-serif;
}


.inter {
  font-family: "Inter", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 0px 20px;
    z-index: 100;


}

.header--container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    padding: 20px 20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(28, 28, 28, 0.50);
    border-radius: 20px; 
}

.header--container:hover {
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(28, 28, 28, 1);
}

header img {
    width: 100px;
}

.logo--p {
    font-family: "Montserrat";
    color: white;
    display: flex;
    gap: 8px;
    margin-top: 10px;
    font-size: 15px;
}

.button--container button {
    padding: 10px 40px 10px 40px;
    border: 2px solid #c88a58;
    background: none;
    color: white;
    font-family: "Inter";
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button--container button:hover {
    background: #c88a58;
    color: black;
    transform: scale(1.02);
}

.nav--container .nav--list__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    color: white;
    font-family: "Inter";
    list-style: none;

    a {
        color: white;
        text-decoration: none;
        position: relative;
        
    }

    .nav__active::after {
        content: '';
        position: absolute;
        margin-top: 10px;
        display: block;
        width: 160%;
        height: 2px;
        background-color: rgb(96, 68, 46);
        transform: translateX(-17%);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .header--container {
        width: 60px;
        height: 44px;
    }

    header h1 {
        font-size: 16px;
    }
}